body {
    display: flex;
    justify-content: center;
}

.app {
    height: 600px;
    width: 100vh
}

.map {
    height: 100%;
    width: 100%;
}

.marker {
    background-image: url('https://i.imgur.com/oz3r3Wq.png');
    background-size: cover;
    width: 22px;
    height: 22px;
    background-color: yellow;
    border-radius: 11px;
    border: solid 3px darkslategray;
}

.marker-delivery {
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 11px;
}

/* Black Theme*/

.tt-pan-controls > .tt-pan-button {
    background-color: rgb(24, 26, 27) !important;
}

.tt-pan-controls::before {
    background-color: rgb(24, 26, 27) !important;
}

.tt-pan-controls > .tt-pan-button::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOSIgaGVpZ2h0PSI5Ij48ZGVmcz48ZmlsdGVyIGlkPSJkYXJrcmVhZGVyLWltYWdlLWZpbHRlciI+PGZlQ29sb3JNYXRyaXggdHlwZT0ibWF0cml4IiB2YWx1ZXM9IjAuMjQ5IC0wLjYxNCAtMC42NzIgMC4wMDAgMS4wMzUgLTAuNjQ2IDAuMjg4IC0wLjY2NCAwLjAwMCAxLjAyMCAtMC42MzYgLTAuNjA5IDAuMjUwIDAuMDAwIDAuOTk0IDAuMDAwIDAuMDAwIDAuMDAwIDEuMDAwIDAuMDAwIiAvPjwvZmlsdGVyPjwvZGVmcz48aW1hZ2Ugd2lkdGg9IjkiIGhlaWdodD0iOSIgZmlsdGVyPSJ1cmwoI2RhcmtyZWFkZXItaW1hZ2UtZmlsdGVyKSIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9zdmcreG1sO2Jhc2U2NCxQSE4yWnlCM2FXUjBhRDBpT1NJZ2FHVnBaMmgwUFNJNUlpQjRiV3h1Y3owaWFIUjBjRG92TDNkM2R5NTNNeTV2Y21jdk1qQXdNQzl6ZG1jaVBqeHdZWFJvSUdROUlrMDRMalU0TmlBeGRqWXVOVGcyWVRFZ01TQXdJREF4TFRFZ01VZ3hZVEVnTVNBd0lEQXhMUzQzTURjdE1TNDNNRGRNTmk0NE56a3VNamt6UVRFZ01TQXdJREF4T0M0MU9EWWdNWG9pSUdacGJHdzlJaU16TmpNMk16WWlJR1pwYkd3dGNuVnNaVDBpWlhabGJtOWtaQ0l2UGp3dmMzWm5QZz09IiAvPjwvc3ZnPg==) !important;
}

.tt-zoom-control {
    background-color: rgb(24, 26, 27) !important;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 2px !important;
}

.tt-zoom-control > .tt-zoom-button {
    background-color: rgb(24, 26, 27) !important;
    border-color: initial;
    outline-color: initial;
}

